<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Monarch Course Explorer{% endblock %}</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link
      href="../../static/layout/styles/layout.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
  </head>
  <body id="top">
    <div class="wrapper row0">
      <div id="topbar" class="clear">
        <nav>
          <ul>
            <li><a href="../../users/templates/authenticate/register.html">Register</a></li>
            <li><a href="../../users/templates/authenticate/login.html">Student Login</a></li>
            <li><a href="../../users/templates/authenticate/faculty_login.html">Staff Login</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="wrapper row1">
      <header id="header" class="clear">
        <div id="logo" class="fl_left">
          <h1><a href="../index.html">Monarch Course Explorer</a></h1>
          <p>Prototype</p>
        </div> 

      </header>
    </div>
    <div class="wrapper row2">
      <div class="rounded">
        <nav id="mainav" class="clear">
          <ul class="clear">
            <li><a href="../index.html">Home</a></li>
            <li class="active">
              <a class="drop" href="#">Pages</a>
              <ul>
                <li><a href="gallery.html">Gallery</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>  
 
    <div class="wrapper row3">
        <div class="rounded">
          <main class="container clear"> 
            {% block content %}{% endblock %}
        </main>
    </div>
  </div> 

  <div class="wrapper row5">
    <div id="copyright" class="clear"> 
      <p class="fl_left">Copyright &copy; Team Silver 2023 - All Rights Reserved - <a href="#">Monarch Course Explorer</a></p>
    </div>
  </div>
  
  <!-- JAVASCRIPTS --> 
  <script src="../../static/layout/scripts/jquery.min.js"></script>
    <script src="../../static/layout/scripts/jquery.fitvids.min.js"></script>
    <script src="../../static/layout/scripts/jquery.mobilemenu.js"></script>

</body>
</html>
