{% extends 'pages/base.html' %}

{% block title %}Browse Feedback - Monarch Course Explorer{% endblock %}

{% block content %}

<h2>Browse Feedback</h2>

<form id="courseFeedbackSelectionForm" method="POST" action="{% url 'browseFeedback' %}">
    {% csrf_token %}

    <!-- Course selection dropdown menu -->
    <select name="courseSelect">
        {% for course in allCourses %}
            <option value="{{course.id}}">{{course.department}} {{course.number}}</option>
        {% endfor %}
    </select>
    <input name="courseSubmit" type="submit"/>
    <br>

    <!-- Show selected feedback -->
    {% for feedback in allSelectedFeedback %}
        <b>{{feedback.department}} {{feedback.number}} {{feedback.name}} | {{feedback.delivery_type}} {{feedback.offering_days}} {{feedback.offering_time}} | {{feedback.last_name}}, {{feedback.first_name}} | {{feedback.friendly_name}}</b>
        <br>
        Difficulty: {{feedback.difficulty_rating}} <b>|</b> Workload: {{feedback.workload_rating}} <b>|</b> Openness: {{feedback.openness_rating}}
        <br>
        {{feedback.review}}
        <br><br>
    {% endfor %}
</form>

{% endblock %}
