{% extends 'pages/base.html' %}


{% block title %}Gallery - Monarch Course Explorer{% endblock %}

{% block content %}
<div class="wrapper row3">
  <div class="rounded">
    <main class="container clear"> 
      <!-- main body -->       
      <div id="gallery">
        <figure>
          <header class="heading">About Us</header>
          <ul class="nospace clear">
            <li class="one_quarter first"><img class="borderedbox" src="../../static/images/demo/gallery/dream-team/Alex.jpg" alt="Alex Brown headshot"><strong>Alex Brown</strong> <br>Alex is an undergraduate at Old Dominion University majoring in Computer Science. He currently works as a Sonar Support Technician and anticpates graduating in Summer 2024.</li>
            <li class="one_quarter"><img class="borderedbox" src="../../static/images/demo/gallery/dream-team/Kevin.jpg" alt="Kevin Carr headshot"><strong>Kevin Carr</strong>  <br>Kevin is a senior transfer student at Old Dominion University majoring in Computer Science. After graduating in December 2023, he plans to pursue career opportunities in the IT field.</li>
            <li class="one_quarter"><img class="borderedbox" src="../../static/images/demo/gallery/dream-team/David.jpg" alt="David Jennings Headshot"><strong>David Jennings</strong><br>David is a senior at ODU working on their B.S. in Computer Science. They are currently working as a developer for MSCorp.</li>
            <li class="one_quarter"><img class="borderedbox" src="../../static/images/demo/gallery/dream-team/KelseyM.jpg" alt="Kelsey Marantan headshot"><strong>Kelsey Marantan </strong><br>Kelsey is a senior at Old Dominion University, majoring in Computer Science and minoring in Marketing.</li>
            <li class="one_quarter first"><img class="borderedbox" src="../../static/images/demo/gallery/dream-team/JodiN.jpg" alt="Nia(Jodi) Newton headshot"><strong>Nia(Jodi) Newton</strong> <br>Nia is a senior at Old Dominion University pursuing her Bachelor's Degree in computer science. In her freetime she likes eating and watching movies.</li>
            <li class="one_quarter"><img class="borderedbox" src="../../static/images/demo/gallery/dream-team/AdamP.jpg" alt="Adam Pieroni headshot"><strong>Adam Pieroni</strong> <br>Adam is a Computer Science Major at Old Dominion University in his senior year. He currently work at CS Systems Group for ODU. In his free time he enjoys video games and recently played for ODU Varsity Valorant.</li>
            <li class="one_quarter"><img class="borderedbox" src="../../static/images/demo/gallery/dream-team/williamvarnier.jpg" alt="William Varnier headshot"><strong>William Varnier</strong><br>William is a senior at Old Dominion University who is studying Computer Science. In his free time he likes to write code and create code plugins.</li>
            <li class="one_quarter"><img class="borderedbox" src="../../static/images/demo/gallery/dream-team/phillip.jpg" alt="Phillip Wilson headshot"><strong>Phillip Wilson</strong> <br>Phillip is a senior at Old Dominion University. He is working towards earning a Bechelor's Degree in Computer Science with a Minor in Cyber Security. </li>
          </ul>
        </figure>
      </div>
    </main>
  </div>
</div>
{% endblock %}