{% extends 'pages/base.html' %}


{% block title %}Provide Feedback - Monarch Course Explorer{% endblock %}

{% block content %}

<div id="comments">
  <h1>Provide Course Feedback</h1>

  {% if submitted %}
    Feedback Was Submitted Successfully!


  {% else %}

  <form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}



<div>
  <input name="submit" type="submit" value="Submit Review" style="background-color: #3498db; color: #ffffff; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;"/>
  &nbsp;
</div>
</form>


<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->


</body>

</html>

  {% endif %}
{% endblock %}




<!DOCTYPE html>