
{% extends 'pages/base.html' %}


{% block title %}Recommendations Quiz - Monarch Course Explorer{% endblock %}

{% block content %}

<body>
    <h1>Monarch Course Explorer Recommendations Quiz</h1>

    <form action="/submit" method="post">
        <div class="question">
            <p>Please enter the course for which you're seeking:</p>
            <div class="choices">
                <label><input type="text" name="question1" placeholder="Enter the course">
                <button type="button" onclick="submitTextAnswer('question1')">Enter</button>
            </div>
        </div>

        <div class="question">
            <p>1. Do you prefer Asynchronous or Synchronous?</p>
            <div class="choices">
                <label><input type="radio" name="question2" value="Asynchronous"> Asynchronous</label>
                <label><input type="radio" name="question2" value="Synchronous"> Synchronous</label>
            </div>
        </div>

        <div class="question">
            <p>2. Do you prefer online or in-person?</p>
            <div class="choices">
                <label><input type="radio" name="question3" value="Online"> Online</label>
                <label><input type="radio" name="question3" value="In-person"> In-person</label>
            </div>
        </div>

        <div class="question">
            <p>3. Do you prefer that the textbook is required?</p>
            <div class="choices">
                <label><input type="radio" name="question4" value="Textbook Required"> Textbook Required</label>
                <label><input type="radio" name="question4" value="Textbook NOT Required"> Textbook NOT Required</label>
        </div>

        <div class="question">
            <p>4. Do you prefer that attendance is mandatory?</p>
            <div class="choices">
                <label><input type="radio" name="question5" value="Attendance Mandatory"> Attendance Mandatory</label>
                <label><input type="radio" name="question5" value="Attendance IS NOT Mandatory"> Attendance IS NOT Mandatory</label>
            </div>
        </div>

        <input type="submit" value="Submit">
    </form>
</body>
</html>

{% endblock %}

<!DOCTYPE html>