{% extends 'pages/base.html' %}

{% block title %}Search Results - Monarch Course Explorer{% endblock %}

{% block content %}

<div>
  <ul class="result-list">
    {% for x in results %}
      <li>
        <div class="result">
          <a>
            <p>{{x.department}} {{x.number}}</p>
            <p>{{x.name}}</p>
            <p>CRN {{x.crn}}</p>
            <p>{{x.last_name}}, {{x.first_name}}</p>
          </a>
          <div>
            {{x.description}}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}