{% extends 'pages/base.html' %}

{% block title %}Search Results - Monarch Course Explorer{% endblock %}

{% block content %}

<div class="result-list">
  <ul>
    {% for x in results %}
      <li>
        <div class="result">
          <a href="browseFeedback.html?id={{x.id}}">
            <div class="center-text">
              <p>{{x.department}} {{x.number}}</p>
              <p>{{x.last_name}}, {{x.first_name}}</p>
              <p>{{x.delivery_type}}</p>
              <p>{{x.offering_days}} {{x.offering_time}}</p>
            </div>
          </a>
          <div class="result-description">
            <p>{{x.name}}</p>
            <p>{{x.description}}</p>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}