{% extends 'pages/base.html' %}


{% block title %}Syllabi - Monarch Course Explorer{% endblock %}

{% block content %}
<form id="courseFeedbackSelectionForm" method="POST" action="{% url 'syllabus' %}">
    {% csrf_token %}

    <!-- Course selection dropdown menu -->
    <select name="courseSelect">
        {% for course in allCourses %}
            <option value="{{course.id}}">{{course.department}} {{course.number}}</option>
        {% endfor %}
    </select>
    <input name="courseSubmit" type="submit"/>
    <br>

    <!-- Show selected feedback -->
    {% for feedback in allSelectedFeedback %}
        Course: {{Syllabus.class_name}}
        <br>
        {{Syllabus.syllabus_contents}}
        <br><br>
    {% endfor %}
</form>
{% endblock %}
