{% extends 'pages/base.html' %}


{% block title %}Syllabi - Monarch Course Explorer{% endblock %}

{% block content %}
<form id="courseSyllabusSelectionForm" method="POST" action="{% url 'syllabus' %}">
    {% csrf_token %}

    <!-- Course selection dropdown menu -->
    <select name="courseSelect">
        {% for course in allCourses %}
            <option value="{{course.id}}">{{course.department}} {{course.number}}</option>
        {% endfor %}
    </select>
    <input name="courseSubmit" type="submit"/>
    <br>

    <!-- Show selected feedback -->
 <ul>
    {% for item in data %}
        <li>{{ item.class_name }} - {{ item.syllabus_contents }}</li>
    {% endfor %}
</ul>


</form>
{% endblock %}
